body {
	font-family: "Raleway",arial,sans-serif;
}
h1 {
	color: white;
	font-size: 3em;
	font-weight: bold;
}
p {
	color: #8A0848;
	font-size: 1em;
	margin-top: 20px;
}
header {
	background-color: #F7819F;
	box-shadow: 0px 2px 5px #8A084B;
}
section {
	background-color: white;
	box-shadow: 0px 2px 5px gray;
}
#smashFotos {
	width: 200px;
	height: auto;
}
.imgFoto{
	width: 100%;
	max-width: 200px;
	height: 0;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#textOk {
	color: red;
	font-size: 3em;
}